body {
    background-color:rgb(130, 220, 243);
}
form {
    display: flex;
    justify-content: center;

    background-color: rgb(158, 226, 102);
}

input {
    background-color: cornflowerblue;
}
li {
    list-style : none;
}
ul,li {
    text-align: center;
    color: rgb(231, 126, 131);
}
h1 {
    text-align: center;
    color: rgb(231, 126, 131);
}